<%= simple_form_for(lesson) do |f| %>

  <div class="form-inputs">
    <%= f.association :category,
                input_html: { class: "form-category" },
                required: true %>
    <%= f.input :date,
                required: true %>
    <%= f.input :duration, label: "Duration (minutes)",
                input_html: { min: 0, class: "form-duration" },
                required: true %>
    <%= f.input :price, label: "Price (yen)",
                input_html: { min: 0, class: "form-price" },
                required: true %>
    <%= f.input :city,
                input_html: { class: "form-city" },
                required: true %>
    <%#= f.input :address,
                input_html: { class: "form-address" },
                required: true %>
    <%= f.input :address,
                input_html: { type: "search", id:"address", class: "form-address" },
                required: true %>

    <script src="https://cdn.jsdelivr.net/npm/places.js@1.16.3"></script>
    <script>
    (function() {
      var placesAutocomplete = places({
        container: document.querySelector('#address')
      });

      var $address = document.querySelector('#address-value')
      placesAutocomplete.on('change', function(e) {
        $address.textContent = e.suggestion.value
      });

      placesAutocomplete.on('clear', function() {
        $address.textContent = 'none';
      });

    })();
    </script>

    <%= f.input :detail,
                required: false,
                input_html: { class: "form-detail" },
                :input_html => {:rows => 4} %>
  </div>

  <div class="d-flex justify-content-center">
    <div class="form-actions">
      <%= f.button :submit, "CREATE", class: "form-create" %>
    </div>
  </div>

<% end %>
