<div class="avatar-image my-5">
     <%= cl_image_tag (@lesson.user.avatar), class: "avatar-large" %>
</div>

<div class="container">
  <div class="lesson-desc py-4 px-4">
    <h4 class="mb-4"><%= @lesson.category.name.upcase %></h4>
    <p class="mb-4"><%= @lesson.detail %></p>
    <div class="details">
      <ul class="d-flex">
        <li class="mr-3"><i class="fas fa-table"></i> <%= @lesson.nice_date %></li>
        <li class="mr-3"><i class="fas fa-clock"></i> <%= @lesson.duration %> mins</li>
        <li class="mr-3"><i class="fas fa-yen-sign"></i> <%= @lesson.price %></li>
        <li class="mr-3"><i class="fas fa-map-marker-alt"></i> <%= @lesson.city %>, <%= @lesson.postal_code %></li>
      </ul>
    </div>
  </div>
  <div class="lesson-map mt-4">
    <div
          id="map"
          style="width: 100%;
          height: 200px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
  </div>
</div>

<div class="book-footer fixed-bottom d-flex justify-content-between pt-3 pb-2 px-3 border-top">
  <div class="booking-details">
    <ul class="d-flex">
      <li class="mr-3 mt-2"><i class="fas fa-table"></i> <%= @lesson.nice_date %></li>
      <li class="mr-3 mt-2"><i class="fas fa-clock"></i> <%= @lesson.duration %> mins</li>
      <li class="mr-3 mt-2"><i class="fas fa-yen-sign"></i> <%= @lesson.price %></li>
    </ul>
  </div>
  <h6 id="book-rounded"><%= link_to "BOOK",lesson_appointments_path(@lesson), method: :post %></h6>
</div>
    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoiYXBhdGhlaXNtIiwiYSI6ImNqdDlxMmFjMDAydTEzeXBhaDFiMzZ3cGkifQ.dOW6VyFx-aSA93ngCpWRUQ';
      var map = new mapboxgl.Map({
      container: 'map', // Container ID
      style: 'mapbox://styles/mapbox/streets-v11', // Map style to use
      center: [@lesson.longitude, @lesson.latitiude], // Starting position [lng, lat]
      zoom: 12, // Starting zoom level
    });
</script>
